
    <div class="pure-table">
						<table>
                            <thead>
								<tr class="row100 head">
                                    <th data-column-id="Tag">TAG</th>
                                    <th data-column-id="Value">URI</th>
								</tr>
							</thead>
							<tbody>
                                {% for key, value in response.items() %}
                                   <tr>
                                        <td> {{ key }} </td>
                                       <td onClick="document.location.href='{{ value }}'"> {{ value }} </td>
                                   </tr>
                                {% endfor %}
							</tbody>
						</table>
                    </div>